* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-size:  62.5%;
}

h1, h2 {
    text-align: center;
}
h1 {
    padding: 1%;
    width: 100%;
    background-color: #0f7717f1;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

h3 {
    font-size: 2rem;
    width: 100%;
}

button {
    background-color: blue;
    color: white;
    font-size: 1.5rem;
}

button:hover {
    background-color: darkblue;
    opacity: .8;
}

li {
    list-style: none;
}


.scores {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}

[data-answer = "correct"] {
    text-align: center;
    color: green;
}

[data-answer = "incorrect"] {
    text-align: center;
    color: red;
}

[data-present = "shown"] {
    display: flex;
}

[data-present = "hidden"] {
    display: none;
}

div {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form button {
    margin: 2%;
}
input {
    margin: 2%;
    padding: 2%;
}



.answer {
    padding: 2%;
    margin: 4%;
    width: 40%;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1rem;
        order: 1;
    }
    .scores {
        flex-direction: column;
        align-items: center;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    button {
        display: flex;
        font-size: 1rem;
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .answer {
        width: 90%;
    }
}